<div class="container">

    <!-- Nested node template -->
    <script type="text/ng-template" id="nodes_renderer.html">
        <div style="cursor:pointer;" ui-tree-handle ng-click="getTests(this)">
            <a style="cursor:pointer;" data-nodrag ng-click="toggle(this)">
                <span class="glyphicon" ng-if="!node.isLeaf"
                      ng-class="{'glyphicon glyphicon-minus': collapsed, 'glyphicon glyphicon-plus': !collapsed}"></span>
            </a>
            {{node.categoryName}}
        </div>
        <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: !collapsed}">
            <li ng-repeat="node in node.nodes" data-collapsed="node.collapsed" ui-tree-node
                ng-include="'nodes_renderer.html'">
            </li>
        </ol>
    </script>

    <p><br/></p>

    <div class="row">
        <nav class="navbar navbar-default">
            <div class="container-fluid" style="background-color: #448ccb">
                <div class="navbar-header" style="background-color: #448ccb">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false"
                            style="background-color: #F8F8F8">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="color: #F8F8F8">Test System</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li ng-click="show_history()"><a href="" style="color: #F8F8F8">History exams</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" uib-dropdown uib-dropdown-toggle ng-disabled="disabled">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false" style="color:#F8F8F8;width:200px">{{user.name + " " + user.surname}}<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" style="width:200px">
                                <li><a ng-click="toProfile()">Open profile</a></li>
                                <li><a ng-click="logout()">Log out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div ui-tree data-drag-enabled="false">
                <ol ui-tree-nodes="" ng-model="treeData" id="tree-root">
                    <li ng-repeat="node in treeData" ui-tree-node data-collapsed="node.collapsed"
                        ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>
        </div>
        <div class="col-md-8">
            <table st-table="rowCollection" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">Test name</th>
                    <th class="text-center">Allocate time</th>
                    <th class="text-center">Entrance to test</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td class="text-center">{{row.testName}}</td>
                    <td class="text-center">{{row.allocateTime}}</td>
                    <td class="text-center">
                        <button type="button" ng-click="startTest()" class="btn btn-success">
                            <i class="glyphicon glyphicon-play"></i>Start test
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>