<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid" style="background-color: #448ccb;">
            <div class="navbar-header">
                <a class="navbar-brand" href="#" style="color: #F8F8F8">Test System</a>
            </div>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-1 col-md-offset-10">
            <button type="button" ng-click="godashbord()" class="btn btn-default">
                DASHBOARD <i class="glyphicon glyphicon-th-list">
            </i>
            </button>
        </div>
    </div>
    </br>
    <div class="row">
        <div class="col-md-12">
            <table st-table="rowCollection" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th class="text-center">description</th>
                    <th class="text-center">date</th>
                    <th class="text-center">status</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in rowCollection">
                    <td class="text-center">{{row.description}}</td>
                    <td class="text-center">{{row.date}}</td>
                    <td class="text-center">
                        <div ng-switch on="row.status">
                            <div ng-switch-when="UNCHECKED">
                                <button type="button" class="btn btn-sm btn-warning">
                                    <i class="glyphicon glyphicon-tasks">
                                    </i>
                                </button>
                            </div>
                            <div ng-switch-when="PASSED">
                                <button type="button" class="btn btn-sm btn-success">
                                    <i class="glyphicon glyphicon-thumbs-up">
                                    </i>
                                </button>
                            </div>
                            <div ng-switch-when="NOT_PASSED">
                                <button type="button" class="btn btn-sm btn-danger">
                                    <i class="glyphicon glyphicon-thumbs-down">
                                    </i>
                                </button>
                            </div>
                            <div ng-switch-default>
                                Error
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>