<div class="container">
    <nav class="navbar navbar-default">
        <div class="container" style="background-color: #448ccb;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" style="background-color: #448ccb">
                <a class="navbar-brand" href="#" style="color: #F8F8F8">Test System</a>
            </div>
        </div>
    </nav>
    <p><br/></p>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">

            <div class="panel panel-default">
                <div class="panel-body" style="background-color: transparent">
                    <div class="page-header">
                        <h1>Log in</h1>
                    </div>
                    <!-- Start Form-->
                    <form method="post" name="loginForm" novalidate>

                        <!-- Start gorm-group username-->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="icon1"><span
                                        class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username"
                                       ng-model="credentials.username" ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/" required>
                            </div>
                            <p ng-show="loginForm.username.$error.pattern" class="help-block"><span style="color: red">Enter a valid email.</span></p>
                        </div>

                        <!-- Start gorm-group password-->
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>

                            <div class="input-group">
                                    <span class="input-group-addon" id="icon2"><span
                                            class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" id="exampleInputPassword1" name="password"
                                       ng-model="credentials.password" required>
                            </div>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rememberMe" ng-model="rememberMe">Remember me
                            </label>
                        </div>
                        <hr/>
                        <button type="submit" value="Submit" name="loginSubmit" class="btn btn-success" ng-click="login()" ng-disabled="loginForm.$invalid">Log in
                        </button>
                        <button type="button" name="signUpSubmit" class="btn btn-primary" ng-click="register()">Register
                        </button>
                        <a href="#">Forgot your password?</a>
                    </form>
                    <script type="text/javascript">
                    </script>
                    <!-- End Form-->
                </div>
            </div>
        </div>
    </div>
</div>