<div class="container" ng-controller="RegistrationController">
    <p><br/></p>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body" style="background-color: transparent">
                    <div class="page-header">
                        <h1>Sign Up</h1>
                    </div>
                    <!-- Start Form-->
                    <form method="post" name="RegistrationForm" novalidate>
                        <!-- Start gorm-group username-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="icon1"><span
                                        class="glyphicon glyphicon-user"></span></span>
                                <input type="email" class="form-control" name="inputEmail" placeholder="E-mail"
                                       ng-model="registrationData.eMail"
                                       ng-pattern="/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/"
                                       required>
                            </div>
                            <div ng-show="RegistrationForm.$submitted || RegistrationForm.inputEmail.$touched">
                                <span class="error" ng-show="RegistrationForm.inputEmail.$error.required">
                                    Required!
                                </span>
                                <span class="error" ng-show="RegistrationForm.inputEmail.$error.pattern">
                                    No valid Email
                                </span>
                            </div>
                        </div>
                        <!-- Start gorm-group password-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="icon2"><span
                                        class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="inputPassword" placeholder="Password"
                                       ng-model="registrationData.password" required>
                            </div>
                            <div ng-show="RegistrationForm.$submitted || RegistrationForm.inputPassword.$touched">
                                <span class="error" ng-show="RegistrationForm.inputPassword.$error.required">
                                    Empty Fields
                                </span>
                            </div>
                        </div>
                        <!--start repeat password-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="icon3"><span
                                        class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" name="repeatPassword"
                                       placeholder="Repeat password" ng-model="repeatPassword" required>
                            </div>
                            <div ng-show="RegistrationForm.$submitted || RegistrationForm.repeatPassword.$touched">
                                <span class="error" ng-show="RegistrationForm.repeatPassword.$error.required">
                                    Empty Fields
                                </span>
                            </div>
                        </div>
                        <div ng-show="RegistrationForm.inputPassword.$touched && RegistrationForm.repeatPassword.$touched">
                 <span ng-show="registrationData.password!=repeatPassword">
                  passwords are not the same
                 </span>
                        </div>
                        <!--start first name-->
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="icon4"><span
                                        class="glyphicon glyphicon-lock"></span></span>
                                <input type="text" name="firstName" class="form-control" placeholder="Name"
                                       ng-model="registrationData.name" required>
                            </div>
                            <div ng-show="RegistrationForm.$submitted || RegistrationForm.firstName.$touched">
                                <span class="error" ng-show="RegistrationForm.firstName.$error.required">
                                    Empty Fields
                                </span>
                            </div>
                        </div>
                        <!--start surname-->
                        <div class="form-group">
                            <div class="input-group">
                                    <span class="input-group-addon" id="icon5">
                                        <span class="glyphicon glyphicon-lock"></span>
                                    </span>
                                <input type="text" class="form-control" name="lastName" placeholder="Surname"
                                       ng-model="registrationData.surname" required>
                            </div>
                            <div ng-show="RegistrationForm.$submitted|| RegistrationForm.lastName.$touched">
                                <span class="error" ng-show="RegistrationForm.lastName.$error.required">
                                    Empty Fields
                                </span>
                            </div>
                        </div>
                        <hr/>
                        <button type="submit" value="Submit" name="SignUpSubmit" class="btn btn-success"
                                ng-disabled="RegistrationForm.$invalid"
                                ng-click="sighUp()">
                            Sign Up
                        </button>
                        <button type="button" name="Back" class="btn btn-primary" ng-click="backToLogin()">Back</button>
                    </form>
                    <!-- End Form-->
                </div>
            </div>
        </div>
    </div>
</div>

