<div class="container" align="center" ng-init="getProfile()">
    <div class="row" style="width:30%;margin: 15%;">
        <h1>My Profile</h1>
        <br>

        <form role="form" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="email" class="form-control" id="inputEmail" placeholder="E-mail" ng-model="user.email"
                           readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" id="firstName" placeholder="Name" ng-model="user.name">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" id="lastName" placeholder="Surname" ng-model="user.surname">
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" id="role" placeholder="Role" ng-model="user.role" readonly>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <button type="submit" class="btn btn-success btn-block" ng-click="saveChanges()">
                        Save changes
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10 col-md-offset-1">
                    <button type="button" class="btn btn-success btn-block" data-toggle="modal" data-target="#myModal">
                        Change password
                    </button>
                </div>
            </div>
        </form>
        <div id="myModal" class="modal fade" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" name="ChangePasswordForm" novalidate>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label for="OldPassword">Old password</label>
                                    <input type="password" class="form-control" id="OldPassword" name="oldPassword" ng-model="oldPassword" required>
                                    <div ng-show="ChangePasswordForm.$submitted || ChangePasswordForm.oldPassword.$touched">
                                <span class="error" ng-show="ChangePasswordForm.oldPassword.$error.required">
                                    Empty Fields
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label for="NewPassword">New password</label>
                                    <input type="password" class="form-control" id="NewPassword" name="newPassword"
                                           ng-model="newPassword" required>
                                    <div ng-show="ChangePasswordForm.$submitted || ChangePasswordForm.newPassword.$touched">
                                <span class="error" ng-show="ChangePasswordForm.newPassword.$error.required">
                                    Empty Fields
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-2">
                                    <label for="RepeatNewPassword">Repeat password</label>
                                    <input type="password" class="form-control" id="RepeatNewPassword"
                                           name="repeatPassword" ng-model="repeatPassword" required>
                                    <div ng-show="ChangePasswordForm.$submitted || ChangePasswordForm.repeatPassword.$touched">
                                <span class="error" ng-show="ChangePasswordForm.repeatPassword.$error.required">
                                    Empty Fields
                                </span>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="ChangePasswordForm.newPassword.$touched && ChangePasswordForm.repeatPassword.$touched">
                 <span ng-show="newPassword!=repeatPassword">
                  passwords are not the same
                 </span>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-default" type="button" ng-disabled="ChangePasswordForm.$invalid" ng-click="changePassword()">Change password
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

