<div class="dialog-header">Аутентифиакация</div>
<div class="ngdialog-content">
    <form role="form">
        <div>
            <label for="user">Имя</label>

            <div>
                <input type="text" id="user" placeholder="Имя" ng-model="userName">
            </div>
        </div>
        <div>
            <label for="password">Пароль</label>
            <div>
                <input type="password" id="password" placeholder="Пароль" ng-model="password">
            </div>
        </div>
    </form>

    <button ng-click="signIn()"></button>
    <button ng-click="closeThisDialog()"></button>
</div>
