.otstup{
	margin-top:20px;
}
.container{
	/*border: 3px solid yellow;*/
	background-color:#F8F8F8  ;
}

.row{

	margin-left: auto;
    margin-right: auto;
	width:30%;
	margin: 15%;
}



/*
.form-group{
	
	 margin-left: auto;
    margin-right: auto;
	width:80%;
}
.textt{
	
}
.col-md-10{
	 margin-left: auto;
    margin-right: auto;

}
.col-xs-10{
	
	width:100%;
	margin-left: auto;
    margin-right: auto;
	
}
.form-control{
	
	width:100%;
	margin-left: auto;
    margin-right: auto;
}
*/
.btn{
	/*
	width:100%;
	margin-left: auto;
    margin-right: auto;*/
	background-color:#BF3561 ;
}